/* --------------- DEBUG --------------- */
/* * {
    border: 1px solid red;
} */

/* -------------- COMMONS -------------- */
header .row.bottom li a {
    color: black;
}

button {
    color: white;
    padding: 5px 15px;
}

button, .brd-rds {
    border-radius: 20px;
}

/* -------------- HEADER -------------- */
header .row.top, header button {
    background-color: black;
}

header .row.bottom {
    background-color: white;
}

header .row.top img {
    width: 80px;
    padding: 10px 0;
}

.dropdown-toggle::after {
    display: none;
}

header .row.bottom ul.navbar-nav > li {
    position: relative;
    margin: 0 14px;
}

header .row.bottom ul.navbar-nav > li::after {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    right: -4px;
    cursor: pointer;
    font-size: 10px;
    color: gray;
}

header .row.bottom img.search {
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}

header .row.bottom button.log-in {
    align-self: center;
    margin-left: 15px;
}

 #navbarDropdown {
     color: black;
 }

/* -------------- MAIN -------------- */
/* --------- HERO --------- */
main {
    padding-top: 110px;
}

main .hero-container {
    position: relative;
}

 main .hero img.hero-img {
    width: 100%;
}

main .hero div.hero-card {
    position: absolute;
    bottom: 20px;
    left: 3%;
    max-width: 95%;
    color: white;
}

main .hero img.hero-logo {
    max-width: 270px;
}

main .hero button.hero-btn {
    background-color: rgb(205, 61, 15);
}

main .hero .hero-thumbnails {
    margin: 20px 0;
    text-align: center;
}

main .hero .hero-thumbnails img {
    width: 100%;
    cursor: pointer;
    padding: 5px;
}

main .hero .hero-thumbnails img:hover {
    border: 2px solid rgb(0, 114, 206);
}

/* -------------- RESPONSIVE -------------- */
@media screen and (max-width: 767px) {
    main .hero div.hero-card {
        font-size: 14px;
    }
    
    main .hero div.hero-card h1 {
        font-size: 22px;
    }  

    main .hero img.hero-logo {
        max-width: 170px;
    }
}

@media screen and (max-width: 576px) {
    main .hero div.hero-card {
        font-size: 12px;
    }

    main .hero div.hero-card h1 {
        font-size: 20px;
    }

}