/* --------------- DEBUG --------------- */
* {
    border: 1px solid red;
}

/* -------------- COMMONS -------------- */
button {
    color: white;
    font-weight: 700;
    padding: 5px 15px;
    border: 2px solid transparent;
}

button:hover {
    outline-offset: 2px;
}

button:active {
    transform: scale(0.95);
}

.blue-btn {
    background-color: rgb(45, 100, 230);
}

.blue-btn:hover {
    outline: 2px solid rgb(45, 100, 230);
}

.orange-btn {
    background-color: rgb(205, 61, 15);
}

.orange-btn:hover {
    outline: 2px solid rgb(205, 61, 15);
}

button, .brd-rds {
    border-radius: 20px;
}

.grey-txt {
    color: rgb(114, 114, 114);
}

header .row.top, header button, main .new-releases {
    background-color: black;
}

main i {
    font-size: 10px;
    vertical-align: super;
}

/* -------------- HEADER -------------- */
header .row.bottom {
    background-color: white;
}

header .row.top img {
    width: 80px;
    padding: 10px 0;
}

.dropdown-toggle::after {
    display: none;
}

header .row.bottom ul.navbar-nav > li {
    position: relative;
    margin: 0 14px;
}

header .row.bottom ul.navbar-nav > li::after {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    right: -4px;
    cursor: pointer;
    font-size: 10px;
    color: gray;
}

header .row.bottom img.search {
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}

header .row.bottom button.log-in {
    align-self: center;
    margin-left: 15px;
}

header button:hover {
    outline: 2px solid black;
}

 #navbarDropdown {
     color: black;
     font-weight: 500;
 }

 #navbarDropdown:hover {
    color: gray;
}


/* -------------- MAIN -------------- */
/* --------- HERO --------- */
main {
    padding-top: 110px;
}

main .hero-container {
    position: relative;
}

main .hero-container img.hero-img {
    width: 100%;
}

main .hero-container div.hero-card {
    position: absolute;
    bottom: 20px;
    left: 3%;
    max-width: 95%;
    color: white;
}

main .hero-container img.hero-logo {
    max-width: 270px;
}

main .hero .hero-thumbnails {
    margin: 40px 0;
    text-align: center;
}

main .hero .hero-thumbnails img {
    width: 100%;
    cursor: pointer;
    padding: 5px;
    border: 2px solid transparent;
    transition: transform 1s;
}

main .hero .hero-thumbnails img:hover {
    border: 2px solid rgb(0, 114, 206);
    transform: translateY(-20px);
}

/* ---------- PS5 ---------- */
main .ps5 .col-12.text-center.mt-5 h6 {
    color: rgb(0, 114, 206);
}

main .ps5 .col-12.text-center.mt-5 p {
    margin-top: 30px;
}

main .ps5 .col-12.col-md-6 img {
    width: 100%;
}

main .ps5 .accessories-card {
    opacity: 0.6;
    padding-top: 30px;
    cursor: pointer;
    height: 100%;
    border-bottom: 2px solid transparent;
}

main .ps5 .accessories-card:hover {
    opacity: 1;
    border-bottom: 2px solid rgb(0, 114, 206);
}

main .ps5 .accessories-card img {
    width: 100%;
}

/* -------- IT-TAKES-TWO -------- */
main .it-takes-two .hero-container {
    overflow: hidden;
    margin-top: 40px;
}

main .it-takes-two .hero-container img.hero-logo {
    max-width: 140px;
}

/* -------- NEW-RELEASES -------- */
main .new-releases {
    color: white;
    padding: 20px 0;
}

main .new-releases .games-card img {
    width: 100%;
}

main .new-releases .games-card {
    cursor: pointer;
    margin-top: 20px;
}

/* ---------- PS4 ---------- */
main .ps4 .accessories-card img {
    width: 100%;
}

/* ---------- PS-PLUS ---------- */
main .ps-plus {
    background-color: rgb(190, 190, 190);
}

main .ps-plus img.logo {
    width: 60%;
}

main .ps-plus img.featured {
    width: 100%;
}

main .ps-plus button {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 114, 206);
}

main .ps-plus button:hover {
    outline: 2px solid rgb(200, 200, 200);
}

/* ---------- ON-SALE ---------- */
main .on-sale .sale-card img {
    width: 100%;
}





/* -------------- RESPONSIVE -------------- */
@media screen and (max-width: 767px) {
    main .hero-container div.hero-card {
        font-size: 14px;
    }
    
    main .hero-container div.hero-card h1 {
        font-size: 22px;
    }  

    main .hero-container img.hero-logo {
        max-width: 170px;
    }

    main .ps5 .col-12.text-center.mt-5 p {
        margin-bottom: 70px;
    }
    
    main .hide {
        display: none;
    }   
}

@media screen and (max-width: 575px) {
    main .hero-container div.hero-card {
        font-size: 12px;
    }

    main .hero-container div.hero-card h1 {
        font-size: 20px;
    }

}